name: Debian 12

on:
  push:
    branches: [ master ]
    paths: [ '!**.md', '!**.md', '!**.yml', 'debian12.yml' ]
  pull_request:
    branches: [ master ]
    paths: [ '!**.md', '!**.md', '!**.yml', 'debian12.yml' ]
  schedule:
    - cron: "0 0 * * *"

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  debian-12:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest
    container:
      image: debian:12
      options: --user root

    steps:
    - name: Check out repository
      uses: actions/checkout@v3

    - name: Refresh Debian Packages
      run: apt update && apt -y dist-upgrade
      continue-on-error: true

    - name: Install Dependencies
      run: apt -y install cmake g++ gettext extra-cmake-modules qttools5-dev libkf5configwidgets-dev libkf5globalaccel-dev libkf5notifications-dev kwin-dev
    
    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Install
      run: cmake --install ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Test
      run: ctest --test-dir ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} --verbose
