name: Fedora 40

on:
  push:
    branches: [ master ]
    paths-ignore: [ '**.md', '**.png' ]
  pull_request:
    branches: [ master ]
    paths: [ '**/fedora40.yml' ]
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  RPM_NAME: kwin4_effect_shapecorners

jobs:
  fedora40:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest
    container:
      image: fedora:40
      options: --user root

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        dnf -y install cmake gcc-c++ extra-cmake-modules kwin-devel kf6-kconfigwidgets-devel libepoxy-devel kf6-kcmutils-devel qt6-qtbase-private-devel wayland-devel kdecoration-devel
        dnf -y install rpm-build
    
    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake . -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      # Build your program with the given configuration
      run: cmake --build . --config ${{env.BUILD_TYPE}} -j

    - name: Package
      run: |
        cpack -V -G RPM
        RPM_FILE=artifacts/${RPM_NAME}_${GITHUB_JOB}.rpm
        mkdir artifacts
        mv ${RPM_NAME}.rpm ${RPM_FILE}
        echo "RPM_FILE=${RPM_FILE}" >> $GITHUB_ENV

    - name: Upload Workflow Artifact
      uses: actions/upload-artifact@v4.3.3
      with:
        name: ${{ env.RPM_NAME }}
        path: ${{ env.RPM_FILE }}
        compression-level: 0
        if-no-files-found: error

    - name: Upload Release Asset
      if: github.ref == 'refs/heads/master'
      uses: nicklasfrahm/scp-action@main
      with:
        direction: upload
        host: ${{ secrets.SOURCEFORGE_HOST }}
        username: ${{ secrets.SOURCEFORGE_USERNAME }}
        key: ${{ secrets.SOURCEFORGE_KEY }}
        fingerprint: ${{ secrets.SOURCEFORGE_HOST_FINGERPRINT }}
        source: ${{ env.RPM_FILE }}
        target: /home/frs/project/kde-rounded-corners/nightly/fedora/${{ env.RPM_NAME }}_${{ github.job }}.rpm

#     - name: Test
#       working-directory: ${{github.workspace}}/build
#       # Execute tests defined by the CMake configuration.  
#       # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
#       run: ctest -C ${{env.BUILD_TYPE}}
      
