name: GLSL Validator

on:
  push:
    branches: [ master ]
    paths: [ '**.frag', '**.glsl' ]
  pull_request:
    branches: [ master ]
    paths: [ '**.frag', '**.glsl' ]
  workflow_dispatch:

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  glslangValidator:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v6

    - name: Install Dependencies
      run: | 
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends glslang-tools

    - name: Download GLSL include files
      working-directory: src/shaders
      run: |
        wget https://raw.githubusercontent.com/KDE/kwin/refs/heads/master/src/opengl/colormanagement.glsl
        wget https://raw.githubusercontent.com/KDE/kwin/refs/heads/master/src/opengl/saturation.glsl

    - name: Validate Shaders
      working-directory: src/shaders
      run: |
        glslangValidator -l -d -I. -S frag --P "#extension GL_ARB_shading_language_include : enable" shapecorners_qt6.frag
        glslangValidator -l -d -I. -S frag --P "#extension GL_ARB_shading_language_include : enable" shapecorners_qt6_core.frag
        glslangValidator -l -d -I. -S frag --P "#extension GL_ARB_shading_language_include : enable" shapecorners_qt5.frag
        glslangValidator -l -d -I. -S frag --P "#extension GL_ARB_shading_language_include : enable" shapecorners_qt5_core.frag
