name: GLSL Validator

on:
  push:
    branches: [ master, latest-shapecorners-code, kwin_5.23 ]
  pull_request:
    branches: [ master ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  ubuntu2004:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v3

    - name: Run  github-actions-tune
      uses: abbbi/github-actions-tune@v1

    - name: Install Dependencies
      run: apt update && apt install -y glslang-tools

    - name: Validate Shaders
      run: glslangValidator shaders_110/shapecorners.frag shaders_140/shapecorners.frag
